<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @*<title>@ViewBag.Title - 我的 ASP.NET 应用程序</title>*@
    <title>Demo</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/Content/bootstrapValidator.css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</head>
<body class="home-template">
    <!-- start header -->
    <header class="main-header" style="background-image: url(http://localhost:51359/Content/Images/header-background.jpg)">
        <div class="container">
            <div class="row">
                @*<div class="col-sm-12">
                        <a class="branding" href="http://localhost:51359/Home" title="User Count Demo">
                            <img src="http://localhost:51359/Content/Images/logo.jpg" alt="User Count Demo">
                        </a>
                    </div>*@
            </div>
        </div>
    </header>
    <!-- end header -->
    <!-- start navigation -->
    <nav class="main-navigation">
        <div class="row">
            <div class="col-sm-12 navbar navbar-default" role="navigation">
                <div class="navbar-header">
                    <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#main-menu" aria-expanded="true">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="main-menu" aria-expanded="true" style="">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Home", "Demo")</li>
                        <li>@Html.ActionLink("Report", "Report", "Demo")</li>
                        <li>@Html.ActionLink("About", "About", "Demo")</li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <!-- end navigation -->
    <!-- start site's main content area -->
    <section class="content-wrap">
        <div class="container">
            <div class="row">
                <main class="col-md-8 main-content">
                    <nav class="content-page">
                        @RenderBody()
                    </nav>
                </main>
                <aside class="col-md-4 sidebar">
                    <div class="widget" id="Auth-login">
                        <h4 class="title">Log in</h4>
                        <div class="content community">
                            <div class="social">
                                <a class="col-xs-12" id="login-google">
                                    <img alt="Google" class="icons-size" src="~/Content/Images/google.png">
                                    <div class="social-title">
                                        <span>Log in with Google</span>
                                    </div>
                                </a>
                                <a class="col-xs-12" id="login-facebook">
                                    <img alt="Facebook" class="icons-size" src="~/Content/Images/fb.png">
                                    <div class="social-title">
                                        <span>Log in with Facebook</span>
                                    </div>
                                </a>
                            </div>

                            <div class="col-xs-12">
                                <div class="line-5 col-xs-5">
                                    <hr>
                                </div>
                                <div class="line-or col-xs-1">
                                    Or
                                </div>
                                <div class="line-5 col-xs-5">
                                    <hr>
                                </div>
                            </div>

                            <form class="login-email form-group">
                                <div class="login-info">
                                    <label class="text-warning" hidden id="login-waring"></label>
                                </div>
                                <div class="login-info">
                                    <input class="form-control" required autofocus="" id="email" type="email" name="email" placeholder="Email">
                                </div>
                                <div class="login-info">
                                    <input class="form-control" required id="password" type="password" name="password" placeholder="Password">
                                </div>
                                <div class="submit-buttons">
                                    <button class="btn text-uppercase" id="login">
                                        <span>Log in</span>
                                    </button>
                                    <button class="btn text-uppercase" id="register">
                                        <span>Register</span>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="widget" id="userinfo" hidden>
                        <h4 class="title">User Detail</h4>
                        <div class="content tag-cloud">
                            <div>
                                <img class="detailpicture" src="~/Content/Images/unauthentic.jpg" click="changephoto()" />
                            </div>
                            <div>
                                <label for="detailemail">Email:</label><input type="email" id="detailemail" name="detailemail"></input>
                            </div>
                            <div>
                                <label for="detailpersonalurl">Personal Url:</label><span id="detailpersonalurl" name="detailpersonalurl"></span>
                            </div>
                            <div class="form-group">
                                <label for="detailnewpassword">New Password:</label><input type="password" id="detailnewpassword" name="detailnewpassword"></input>
                                <label for="detailconfirmpassword">Confirm Password:</label><input id="detailconfirmpassword" name="detailconfirmpassword"></input>
                                <button>Reset Password</button>
                            </div>
                            <div>
                                <label for="detailphone">Phone Number:</label><input type="tel" id="detailphone" name="detailphone"></input>
                            </div>
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </section>

    <footer class="main-footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="widget">
                        <h4 class="title">Friend Links</h4>
                        <div class="content tag-cloud friend-links">
                            <a href="http://www.bootcss.com/" title="Bootstrap" target="_blank">Bootstrap</a>
                            <a href="https://docs.aws.amazon.com/zh_cn/amazondynamodb/latest/developerguide/SampleData.html" title="AWS DynamoDB" target="_blank">AWS DynamoDB</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="widget">
                        <h4 class="title">Other Product</h4>
                        <div class="content tag-cloud">
                            <a href="https://dcnsales.ciodev.accenture.com" title="SEP" target="_blank">SEP</a>
                            <a href="https://ATC.ciodev.accenture.com" title="ATC" target="_blank">ATC</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="widget">
                        <h4 class="title">Partner</h4>
                        <div class="content tag-cloud friend-links">
                            <a href="https://aws.amazon.com/?icmpid=docs_menu" title="AWS" target="_blank">AWS</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <span>Copyright © <a href="http://localhost:51359/Demo">User Count Demo</a></span> |
                </div>
            </div>
        </div>
    </div>
    <a href="http://localhost:51359/Demo" id="back-to-top"><i class="fa fa-angle-up"></i></a>
    
    @Scripts.Render("~/Scripts/bootstrapValidator.js")
    @Scripts.Render("~/Scripts/jquery.session.js")
    @Scripts.Render("~/Scripts/layout/layout.js")
    @RenderSection("scripts", required: false)
    <script type="text/javascript">
        $(document).ready(function () {
            if ("@ViewBag.IsAuthentication" == "False"){
              $("<div id='shade' title='Please Login in!'></div>").css({
            position: 'absolute',
            top: 0,
            left: 0,
            backgroundColor: "#808080",
            height: '100%',
            width:'100%',
            opacity: 0.7,
            zIndex: 300}).appendTo(".content-page");
            }else{
            $.ajax({
                type: "POST",
                url: 'GetUser',
                data: { email: "@ViewBag.Email", password: "@ViewBag.Password" },
                dataType: "json",
                success: function (data) {
                    if (data.result) {
                        $('#Auth-login').hide();
                        themeApp.bingUserDetail(data);
                        $('#shade').hide();
                        $('#userinfo').show();
                    }
                    else {
                        $("#login-waring").text("Login Failed, please check your eamil and password")
                        $('#userinfo').hide();
                        $("#login-waring").show();
                    }
                }
            })
        }
        })

    </script>
</body>
</html>
